:root {
    --header-bg: #ece8ea;
    --primary-color: #3D1308;
    --secondary-color: #7B0D1E;
    --main-text: #F7F7FF;
    --nav-hover: #9F2042;
}

/* ------------------- GENERAL --------------------- */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* ------------------- HEADER ----------------------- */
header {
    display: grid;
    grid-template-columns: 50px auto  44px;
    padding: 5px 10px 5px 10px;
    gap: 8px;
    align-items: center;
    border-bottom: solid 1px var(--secondary-color);
    color: var(--secondary-color);
    position: relative;
    height: 100px;
}

header img {
    display: block;
    width: 100%;
}

.hamburger {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/* ---------------- NAVIGATION ------------------------- */
.navigation {
    display: none;
    background-color: var(--main-text);
    position: absolute;
    top: 100px;
    width: 100%;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 12px;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    font-weight: 500;
}

.navigation li.current a {
    background-color: var(--secondary-color);
    color: var(--main-text);
}

.navigation a:hover {
    background-color: var(--nav-hover);
    color: var(--main-text);
}

/* ---------------------- FOOTER ---------------------- */
footer {
    background-color: var(--header-bg);
    padding: 1rem 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: solid 1px var(--secondary-color);
}

.social {
    display: flex;
    justify-content: start;
    column-gap: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--header-bg);
    border-radius: 44px;
}

.social a:hover {
    background-color: #a8a5a5;
}

.social img {
    width: 44px;
}

.address, .author-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.address span:nth-child(1) {
    font-weight: 900;
}