:root {
  --header-bg: #ece8ea;
  --primary-color: #3d1308;
  --secondary-color: #7b0d1e;
  --main-text: #f7f7ff;
  --nav-hover: #9f2042;
}

/* ------------------- GENERAL --------------------- */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

/* ------------------- HEADER ----------------------- */
header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  padding: 5px 10px 5px 10px;
  gap: 8px;
  align-items: center;
  border-bottom: solid 1px var(--secondary-color);
  color: var(--secondary-color);
  position: relative;
  height: 100px;
}

header img {
  display: block;
  width: 100%;
}

.hamburger {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.hamburger::after {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::after {
  content: "\00D7";
  font-size: 2rem;
}

/* ---------------- NAVIGATION ------------------------- */
.navigation {
  display: none;
  background-color: var(--main-text);
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 10;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.8rem 12px;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  font-weight: 500;
}

.navigation li.current a {
  background-color: var(--secondary-color);
  color: var(--main-text);
}

.navigation a:hover {
  background-color: var(--nav-hover);
  color: var(--main-text);
}

/* ---------------------- FOOTER ---------------------- */
footer {
  background-color: var(--header-bg);
  padding: 1rem 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  border-top: solid 1px var(--secondary-color);
}

.social {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}

.social a {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--header-bg);
  border-radius: 44px;
}

.social a:hover {
  background-color: #a8a5a5;
}

.social img {
  width: 44px;
}

.address,
.author-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address span:nth-child(1) {
  font-weight: 900;
}

/* ---------------- HERO --------------------- */
.hero img {
    width: 100%;
    height: 50%;
    max-height: 40vh;
    object-fit: cover;
  }

#cta a{
  position: absolute;
  right: 10px;
  background-color: var(--secondary-color);
  color: var(--main-text);
  text-decoration: underline;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.25s linear 0s;
}

#cta a:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
  font-size: 2.5rem;
}

/* ----------------- MAIN -------------------- */
main {
  max-width: 1000px;
  margin: auto;
}

main#home {
  margin: 10px auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#weather-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.info-card {
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  transition: box-shadow 0.5s ease 0s;
}

#current-weather, #forecast {
 display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 50px 1fr;
}

#current-weather img {
  justify-self: start;
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 60px;
}

#current-weather ul {
  justify-self: end;
  margin-right: 1.5rem;
}

#events h3, #events p{
  margin-left: 10px;
  margin-right: 10px;
}

.info-card h2 {
  grid-column: 1 / 3;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--main-text);
}

.info-card li {
  list-style-type: none;
  margin: 10px auto;
}

section#spotlight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 2rem;
}

#spotlight article {
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#spotlight img {
  width: 100px;
}

#spotlight span, #spotlight a {
  display: block;
}



/* ----------------- GRID VIEW --------------------- */
#cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  text-align: center;
}

#cards img {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

#cards section {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  transition: box-shadow 0.5s ease 0s;
}

#cards section:hover {
  box-shadow:
    -5px -5px 20px #831a1ac0,
    5px -5px 20px #c07f7f;
}

/* -------------------- LIST VIEW -------------------------- */
#cards.list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}
#cards.list section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cards.list section:nth-child(even) {
  background-color: #c4c2c2;
}

#cards.list img {
  display: none;
}

#displayButtons {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#displayButtons button {
  padding: 10px;
  margin: auto 5px;
  font-weight: 900;
  color: var(--secondary-color);
  border-radius: 15px;
}

#displayButtons button.selected {
  background-color: var(--secondary-color);
  color: var(--main-text);
}

#displayButtons button.selected i {
  background-color: var(--secondary-color);
  color: var(--main-text);
}
