:root {
  --header-bg: #ece8ea;
  --primary-color: #3d1308;
  --secondary-color: #7b0d1e;
  --main-text: #f7f7ff;
  --nav-hover: #9f2042;
}

/* ------------------- GENERAL --------------------- */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

/* ------------------- HEADER ----------------------- */
header {
  display: grid;
  grid-template-columns: 50px auto 44px;
  padding: 5px 10px 5px 10px;
  gap: 8px;
  align-items: center;
  border-bottom: solid 1px var(--secondary-color);
  color: var(--secondary-color);
  position: relative;
  height: 100px;
}

header img {
  display: block;
  width: 100%;
}

.hamburger {
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
}

.hamburger::after {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show::after {
  content: "\00D7";
  font-size: 2rem;
}

/* ---------------- NAVIGATION ------------------------- */
.navigation {
  display: none;
  background-color: var(--main-text);
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 10;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.8rem 12px;
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  font-weight: 500;
}

.navigation li.current a {
  background-color: var(--secondary-color);
  color: var(--main-text);
}

.navigation a:hover {
  background-color: var(--nav-hover);
  color: var(--main-text);
}

/* ---------------------- FOOTER ---------------------- */
footer {
  background-color: var(--header-bg);
  padding: 1rem 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  border-top: solid 1px var(--secondary-color);
}

.social {
  display: flex;
  justify-content: start;
  column-gap: 10px;
}

.social a {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--header-bg);
  border-radius: 44px;
}

.social a:hover {
  background-color: #a8a5a5;
}

.social img {
  width: 44px;
}

.address,
.author-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address span:nth-child(1) {
  font-weight: 900;
}

/* ---------------- HERO --------------------- */
.hero img {
  width: 100%;
  height: 50%;
  max-height: 40vh;
  object-fit: cover;
}

#cta a {
  position: absolute;
  right: 10px;
  background-color: var(--secondary-color);
  color: var(--main-text);
  text-decoration: underline;
  padding: 1rem;
  font-size: 2rem;
  transition: all 0.25s linear 0s;
}

#cta a:hover {
  background-color: var(--main-text);
  color: var(--secondary-color);
  font-size: 2.5rem;
}

/* ----------------- MAIN -------------------- */
main {
  max-width: 1000px;
  margin: auto;
}

main#home {
  margin: 10px auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#weather-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.info-card {
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  transition: box-shadow 0.5s ease 0s;
}

#current-weather,
#forecast {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr;
}

#current-weather img {
  width: 80px;
  margin-top: 1.5rem;
}

#current-weather ul {
  padding-left: 0.5rem;
}

#events h3,
#events p {
  margin-left: 10px;
  margin-right: 10px;
}

.info-card h2 {
  grid-column: 1 / 3;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--main-text);
}

.info-card li {
  list-style-type: none;
  margin: 10px auto;
}

section#spotlight {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 2rem;
}

#spotlight article {
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#spotlight img {
  width: 100px;
}

#spotlight span,
#spotlight a {
  display: block;
}

/* ----------------- GRID VIEW --------------------- */
#cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  text-align: center;
}

#cards img {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

#cards section {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #a8a5a5;
  box-shadow:
    -5px -5px 20px #a8a5a5,
    5px -5px 20px #d6d0d0;
  transition: box-shadow 0.5s ease 0s;
}

#cards section:hover {
  box-shadow:
    -5px -5px 20px #831a1ac0,
    5px -5px 20px #c07f7f;
}

/* -------------------- LIST VIEW -------------------------- */
#cards.list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  text-align: center;
}
#cards.list section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#cards.list section:nth-child(even) {
  background-color: #c4c2c2;
}

#cards.list img {
  display: none;
}

#displayButtons {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

#displayButtons button {
  padding: 10px;
  margin: auto 5px;
  font-weight: 900;
  color: var(--secondary-color);
  border-radius: 15px;
}

#displayButtons button.selected {
  background-color: var(--secondary-color);
  color: var(--main-text);
}

#displayButtons button.selected i {
  background-color: var(--secondary-color);
  color: var(--main-text);
}

/* ----------------- JOIN -------------------------- */

form {
  margin: 1rem 2%;

  label {
    display: block;
    padding-top: 0.2rem;
    color: var(--secondary-color);
  }

  fieldset {
    display: block;
    margin-bottom: 1rem;
    width: 250px;
  }

  fieldset input {
    margin-right: 0.5rem;
  }

  legend {
    font-size: 1rem;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 1.5rem 0 0.2rem 0;
    border-bottom: 1px solid #eee;
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="email"],
  textarea {
    display: block;
    margin: 0.1rem 0 1rem 0;
    padding: 0.3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3d405b;
    width: 250px;
  }

  input:required {
    border-left-color: #d70000;
  }
  input:focus {
    border-left-color: black;
    outline: none;
  }
  input:required:valid {
    border-left-color: green;
  }

  input[type="submit"] {
    border: none;
    text-align: center;
    background-color: var(--nav-hover);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    appearance: none;
  }

  input[type="radio"] {
    accent-color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  input[type="submit"]:active {
    background-color: var(--secondary-color);
  }
}
input:-webkit-autofill {
  -webkit-text-fill-color: #3d405b;
}

dialog {
  width: 90%;
  max-width: 500px;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

#closeModal {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  float: right;
}

.levels {
  text-align: center;
  margin: 2rem;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem;
  border-radius: 15px 0 15px 0;
  transition: all 0.3s linear 0.1s;
  background-color: var(--secondary-color);
  transform: translateY(50px);
  opacity: 0;
  animation: slideIn 0.6s ease forwards;
}

.levels button {
  border: none;
  text-align: center;
  background-color: var(--nav-hover);
  color: var(--main-text);
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  appearance: none;
}

.levels h2 {
  color: var(--main-text);
}

#npLevel:hover {
  background-color: rgb(36, 34, 21);
  border-color: rgb(36, 34, 21);
}

#bronzeLevel:hover {
  background-color: rgb(109, 67, 19);
  border-color: rgb(109, 67, 19);
}

#silverLevel:hover {
  background-color: rgb(116, 113, 104);
  border-color: rgb(116, 113, 104);
}

#goldLevel:hover {
  background-color: rgb(109, 94, 8);
  border-color: rgb(133, 113, 5);
}

.levels:nth-child(1) {
  animation-delay: 0.1s;
}
.levels:nth-child(2) {
  animation-delay: 0.25s;
}
.levels:nth-child(3) {
  animation-delay: 0.5s;
}
.levels:nth-child(4) {
  animation-delay: 1s;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#thankyou section {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 15px;
  margin: 0 auto 2rem;
  max-width: 80%;
  h2,
  li,
  strong {
    color: var(--main-text);
  }
}

#form-info {
  list-style-type: none;
  padding-left: 0;

  li {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
