@media only screen and (min-width: 64rem) {
  #displayArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .interest-card {
    grid-template-areas:
      "name name"
      "photo description"
      "photo address"
      "learn learn";

      h2, p, address {
        margin: .5rem 1rem;
      }
  }

  .interest-card img {
    align-self: center;
  }

  .interest-card h2 {
    justify-self: center;
  }
}